.carousel p{
    color: #BDBDBD ;
}
/* packages section start 03 */
.package p, ul li a{
    font-size: 15px;
    text-decoration: none;
    color: #000;
    text-transform: capitalize;

}


.card{
    background-color: #FFEBEE ;
}

.third{
    background-color: #FB8C00 ;
    margin-top: -30px;

}
.third-col{
    position:relative;
    z-index: -1;
}

.third-col .top-btn {
    position: absolute;
    padding: 0px 12px;
    color: #fff;
    background-color: #D84315 ;
    top: -15px;
    right: 30px;
    z-index: 1;
}
/* packages section end 03 */
/* footer section start */
.newslater{
    background-image: url('../images/asset\ 45.jpeg');
}
.subcribe{
    background-image: url('../images/asset\ 38.jpeg');
}
/* footer section end */
